@media screen and (min-width: 600px) {
    .footContaniner {
        display: grid;
        grid-template-columns: 15% 35% 50%;
    }

    footer img {
        height: 70px;
    }

    footer div div h3 {
        margin-top: 30px;
    }

    .email {
        margin-top: 30px;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #hero {
        grid-column: 1/3;
    }

    #news {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #spotlightConatiner {
        grid-column: 1/3;
        grid-row: 3/4;
        display: flex;
        height: 260px;
    }

    #join {
        grid-column: 1/3;
        grid-row: 4/5;
        display: inline;
    }

    .copy {
        display: flex;
        justify-content: center;
    }

    .barrier {
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
    }

    #hero h3 {
        right: 400px;
    }

    #hero button {
        top: 300px;
    }

    #join button {
        width: 90%;
        font-size: 20px;
    }

    #event p {
        margin-top: 130px;
    }

    #event h4 {
        margin-top: 20px;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr;
    }

    .discover div img:hover {
        box-shadow: 0 0 50px #333;
    }

    td {
        display: inline;
    }

    .listDefault {
        display: block;
    }

    .listpic {
        opacity: 1;
    }

    .cardDefault {
        display: none;
    }

    .gridpic {
        opacity: .5;
    }

    tr {
        height: 50px;
    }

    td {
        margin-right: 50px;
    }

    .cardShow {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}